<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/203f75b7-3308-41a0-8498-06dbf873f1b6/resourcegroups/TurnyraiAPI20221105171153ResourceGroup/providers/Microsoft.Web/sites/TurnyraiAPI20221105171153</ResourceId>
    <ResourceGroup>TurnyraiAPI20221105171153ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/203f75b7-3308-41a0-8498-06dbf873f1b6/resourceGroups/TurnyraiAPI20221105171153ResourceGroup/providers/Microsoft.ApiManagement/service/TurnyraiAPIapi/apis/TurnyraiAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://turnyraiapi20221105171153.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9fb2d7a4-a54f-4999-91d9-299e93abba34</ProjectGuid>
    <MSDeployServiceURL>turnyraiapi20221105171153.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TurnyraiAPI20221105171153</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TurnyraiAPI20221105171153</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>